/* Application de la police globale */
@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
}

ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    /* Légèrement réduit pour les liens dans les listes */
}

#apple-watch2 {
    width: 200px;
    height: auto;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 30px;
}

#description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

/* Styles pour l'élément menu-icon */
#menu-icon {
    width: 54px;
    height: 50px;
    color: black;
    font-weight: 700
}

#product-choose {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: large;
}

/* Espacement global pour les titres (mobile par défaut) */
#hero {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 35px;
    /* Espacement pour mobile (par défaut) */
}

/* Styles pour l'élément play-video */
#play-video {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-size: large;
}

/* Styles pour l'élément product-choose2 */
#product-choose2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-bottom: 25px;
}

/* styles pour l'élément apple-watch */
#apple-watch {
    width: 300px;
    height: auto;
}

#how-it-works {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

/* Espacement pour les très grands écrans (moniteurs 4K) */
@media (min-width: 1280px) {
    #hero {
        letter-spacing: -5px;
        /* Plus épais pour les très grands écrans */
    }
}

/* Espacement pour les grands écrans (desktop) */
@media (min-width: 1024px) {
    #hero {
        letter-spacing: -6px;
        /* Large pour les écrans desktop */
    }
}

/* Espacement pour les écrans moyens (tablette en paysage, petit laptop) */
@media (min-width: 768px) {
    #hero {
        font-family: 'Poppins', sans-serif;
        font-weight: 400px;
        letter-spacing: -5px;
        font-size: 90px;
        /* Moyen pour les écrans moyens */
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400px;
        font-size: 54px;
        letter-spacing: 0px;
        text-transform: uppercase;
    }

    #play-video {
        font-family: 'Poppins', sans-serif;
        font-weight: 400px;
        transition: background-color 0.3s ease;
        font-size: 200%;
        letter-spacing: 0.5px
    }

    #apple-watch {
        width: 350px;
        height: auto;
    }

    ul li a {
        font-family: 'Poppins', sans-serif;
        font-weight: 450;
        letter-spacing: 0px;
        /* Légèrement réduit pour les liens dans les listes */
    }

    #product {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 100px;
        /* margin-top: 0px; */
    }

    #description {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 0px;
    }

    #apple-watch2 {
        width: 370px;
        height: auto;
    }


    #arrow-right {
        width: 40px;
        height: 40px;
    }

    #apple-watch3 {
        width: 700px;
        height: auto;
    }

    #description1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 0px;
    }

    #splitcolumns {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-transform: none;
    }

    #quote {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.5;
    }

}

/* Styles spécifiques pour les paragraphes */
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: -0.5px;
    /* Espacement normal pour les paragraphes */
}

/* Styles spécifiques pour les liens */
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    /* Légèrement réduit pour les liens */
}

/* styles pour l'élément play-icon */
#play-icon {
    width: 40px;
    height: 40px;
}

/* styles pour l'élément table */
/* Masque pour masquer le fond gris */
#table {
    font-size: medium;
    mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, 1) 100%);
}